@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
:root {
  background-color: #222;
  color: white;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

span {
  font-weight: bold;
  color: orange;
}

svg {
  z-index: -1;
}

h5 {
  text-decoration: underline;
}

.bubble-one {
  position: relative;
  right: 20vw;
  bottom: 45vh;
  animation: up-down 5s ease-in-out infinite;
}

.bubble-two {
  position: relative;
  top: 35vh;
  animation: breathe 10s ease-in-out infinite;
}

.bubble-three {
  position: relative;
  bottom: 35vh;
  left: 10vw;
  animation: up-down 20s ease-in-out infinite;
}

@keyframes up-down {
  0% {
    bottom: 45vh;
  }
  50% {
    bottom: 10vh;
  }
  100% {
    bottom: 45vh;
  }
}

@keyframes breathe {
  0% {
    top: 35vh;
    left: 5vw;
  }
  50% {
    top: 25vh;
    left: 0vw;
  }
  100% {
    top: 35vh;
    left: 5vw;
  }
}

.bubble-four {
  position: absolute;
  left: 10vw;
  animation: breathe-absolute 15s ease-in-out infinite;
}

.bubble-five {
  position: absolute;
  right: 0vw;
  animation: diagonal-absolute 5s ease-in-out infinite;
}

@keyframes diagonal-absolute {
  0% {
    top: 90vh;
    right: -5vw;
  }
  50% {
    top: 100vh;
    right: 0vw;
  }
  100% {
    top: 90vh;
    right: -5vw;
  }
}

@keyframes breathe-absolute {
  0% {
    top: 90vh;
    left: 5vw;
  }
  50% {
    top: 100vh;
    left: 0vw;
  }
  100% {
    top: 90vh;
    left: 5vw;
  }
}

.bubble-six {
  position: absolute;
  top: 150vh;
  animation: six 10s ease-in-out infinite;
}

.bubble-seven {
  position: absolute;
  top: 190vh;
  left: 60vw;
  animation: seven 10s ease-in-out infinite;
}

@keyframes six {
  0% {
    top: 150vh;
    left: 0vw;
  }
  50% {
    top: 190vh;
    left: 10vw;
  }
  100% {
    top: 150vh;
    left: 0vw;
  }
}

@keyframes seven {
  0% {
    top: 190vh;
    left: 60vw;
  }
  50% {
    top: 300vh;
    left: 30vw;
  }
  100% {
    top: 190vh;
    left: 60vw;
  }
}

.bubble-eight {
  position: absolute;
  top: 350vh;
  animation: eight 5s ease-in-out infinite;
}

@keyframes eight {
  0% {
    top: 350vh;
  }
  50% {
    top: 355vh;
  }
  100% {
    top: 350vh;
  }
}

.bubble-nine {
  position: absolute;
  top: 400vh;
  animation: nine 10s ease-in-out infinite;
}

@keyframes nine {
  0% {
    top: 400vh;
    left: 0vw;
  }
  50% {
    top: 430vh;
    left: 50vw;
  }
  100% {
    top: 400vh;
    left: 0vw;
  }
}

section {
  margin: 3vh;
  display: flex;
}

div {
  margin: 1vh;
  padding: 0 1.5vw;
  width: fit-content;
  height: fit-content;
}

#start {
  height: 100vh;
}

.column {
  flex-direction: column;
}

.glass {
  background: rgba(136, 136, 136, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#welcome {
  align-self: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

#serious {
  display: flex;
  justify-content: center;
}

.jobs-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-self: center;
}

.card-job {
  height: 250px;
  width: 700px;
  padding: 0 2em;
  margin: 5vh;
}

.studies-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.studies-item {
  width: 60vw;
  margin: 5vh;
}

.projects {
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-self: center;
}

.projects p {
  align-self: center;
  text-align: center;
}

.social-container {
  justify-content: space-between;
  align-self: center;
}

.social {
  height: 150px;
  width: 200px;
  padding: 0;
  margin: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social svg {
  width: 5vw;
}

.left {
  margin-left: 0;
  margin-right: 25vw;
}

.rigth {
  margin-right: 0;
  margin-left: 25vw;
}

.social svg:hover {
  animation: destacar 2s infinite;
}

@keyframes destacar {
  0% {
    margin-bottom: 0;
    fill: gray;
  }
  50% {
    margin-bottom: 20px;
    fill: white;
  }
  100% {
    margin-bottom: 0;
    fill: gray;
  }
}
